<!DOCTYPE html>
<html manifest="manifest.appcache">
  <head>
    <meta charset="utf-8">
    <link href="style.css" rel="stylesheet">
    <title>tutorial</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <button v-on:click="counters.push({ value: 0, name: "fresh" })">
    <div id="app">
      <ol>
        <li v-for="counter in counters">
          <input v-model="counter.value" type="number">
          <input v-model="counter.color" type="color">
          <input v-model="counter.value" type="range" min="0" max="120" step="1">
        </li>
      </ol>
    </div>
    <script>

var app = new Vue({
  el: '#app',
  data: {
    message: 'You loaded this page on ' + new Date().toLocaleString(),
    seen: true,
    counters: []
  },
  computed: {
    sorted: () => {
      return this.counters.clone().sort()
    }
  }
})

    </script>
  </body>
</html>
